.homesection{
    display: flex;
     margin-left:300px;
}
.title{
    margin-left:250px;
}
.line{
    margin-left:150px;
    width:2px;
    height:1000px;
    background-color: rgb(210, 201, 201);
    position:sticky;
    top:0;
    /* color:black; */
}
.lastline{
    
    width:2px;
    height:1000px;
    background-color: rgb(210, 201, 201);
    position:sticky;
    top:0;

}
.horline{
    border:1px solid rgb(210, 201, 201);
    width:650px;
    margin-top:20px;
}